.ticket-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 275px;
}
 
.ticket-container p {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.ticket-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.ticket-item label {
  font-weight: bold;
  margin-right: 10px;
}

.ticket-container button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

.ticket-container button:hover {
  background-color: #0056b3;
}
