<div class="sidebar"data-bs-theme="primary">
    <div class="logo">
      <h2>Dashboard</h2>
    </div>
    <ul class="menu-list" >
      <li><a routerLink="/dashboard" class="menu-item"><i class="fas fa-home"></i>Home</a></li>
      <li><a routerLink="/tickets-en-attente" class="menu-item"><i class="fas fa-user"></i>Listes des tickets en attente</a></li>
      <li><a routerLink="/tickets-annules" class="menu-item"><i class="fas fa-cog"></i>Listes des tickets annulées</a></li>
      <li><a routerLink="/tickets-traites" class="menu-item"><i class="fas fa-chart-line"></i>Listes des tickets traitées</a></li>
      <li><a (click)="log_out()" class="menu-item"><i class="fas fa-sign-out-alt"></i>Log out</a></li>
    </ul> 
</div>